<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Librería</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Adminitración de Librería</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <!--Para mover a la dereceha ml-auto-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{{url_for('libros_autores.admi_autores')}}">Autores</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{url_for('libros_autores.admin_libros')}}">Libros</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{url_for('libros_autores.pagina_aumentar_vender')}}">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('usuarios.admin_usuarios')}}">Usuarios</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('usuarios.admin_prestamos_devoluciones')}}">Prestamos</a>
                    </li>                 
                </ul>
            </div>
          </nav>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>